block vars
doctype html
html
  head
    title Letsworkout #{title}
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='apple-mobile-web-app-capable',content='yes')
    meta(name='apple-mobile-web-app-status-bar-style',content='black')
    link(rel='stylesheet' href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')

    link(rel='stylesheet', text='text/css', href='/css/welcomePage.css')
   
  body
    block body

